---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTitle from '@components/HeroTitle.astro';
import Description from '@components/Description.astro';
import SignUpForm from '@components/SignUpForm.astro';
---

<BaseLayout>
	<main>
		<HeroTitle />
		<Description />
		<SignUpForm />
	</main>
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: min(80ch, 99% - 1.25rem);
		text-align: center;
		margin: 0 auto;
	}
</style>