---
import config from "@config/config.json";

const { text } = config.heroDescription;
---

<div>
    <p>{text}</p>
</div>

<style>
    div {
        margin-bottom: var(--space-m);
    }
    p {
        font-size: var(--step-1);
        font-weight: 500;
    }
</style>