---
import config from "@config/config.json"

const { text } = config.heroTitle;
---

<p>Stay Tuned</p>
<h1>{text}</h1>

<style>
    h1 {
        font-size: var(--step-6);
        font-weight: 700;
        text-transform: uppercase;
    }
</style>